automacao_n8n/bastos_sync_drive_http.json
[
  {
    "id": "BastosDriveHTTP1",
    "name": "Bastos - Sync Drive (diario 03h)",
    "active": true,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "days",
                "daysInterval": 1,
                "triggerAtHour": 3,
                "triggerAtMinute": 0
              }
            ]
          }
        },
        "id": "aa110000-0003-4000-8000-000000000001",
        "name": "Todo dia 03:00",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [0, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://127.0.0.1:8000/api/auth/login",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              { "name": "username", "value": "admin" },
              { "name": "password", "value": "admin123" }
            ]
          },
          "options": { "timeout": 20000 }
        },
        "id": "aa110000-0003-4000-8000-000000000002",
        "name": "Login Bastos",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [240, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://127.0.0.1:8000/api/referencias/reindexar",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              { "name": "Authorization", "value": "=Bearer {{ $node[\"Login Bastos\"].json[\"access_token\"] }}" }
            ]
          },
          "options": { "timeout": 1800000 }
        },
        "id": "aa110000-0003-4000-8000-000000000003",
        "name": "POST /referencias/reindexar",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [480, 300]
      }
    ],
    "connections": {
      "Todo dia 03:00": {
        "main": [
          [
            { "node": "Login Bastos", "type": "main", "index": 0 }
          ]
        ]
      },
      "Login Bastos": {
        "main": [
          [
            { "node": "POST /referencias/reindexar", "type": "main", "index": 0 }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "pinData": {}
  }
]
