automacao_n8n/bastos_extrato_http.json
[
  {
    "id": "BastosExtratoHTTP1",
    "name": "Bastos - Ingestao de Extrato (webhook)",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "extrato",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "bb220000-0001-4000-8000-000000000001",
        "name": "Webhook Extrato",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [0, 300],
        "webhookId": "bastos-extrato"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://127.0.0.1:8000/api/auth/login",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              { "name": "username", "value": "admin" },
              { "name": "password", "value": "admin123" }
            ]
          },
          "options": { "timeout": 20000 }
        },
        "id": "bb220000-0001-4000-8000-000000000002",
        "name": "Login Bastos",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [240, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://127.0.0.1:8000/api/extrato/submeter",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              { "name": "Authorization", "value": "=Bearer {{ $node[\"Login Bastos\"].json[\"access_token\"] }}" }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($node[\"Webhook Extrato\"].json[\"body\"]) }}",
          "options": { "timeout": 420000 }
        },
        "id": "bb220000-0001-4000-8000-000000000003",
        "name": "POST /extrato/submeter",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [480, 300]
      },
      {
        "parameters": {
          "conditions": {
            "options": { "caseSensitive": true, "typeValidation": "loose" },
            "conditions": [
              {
                "leftValue": "={{ $json[\"processamento\"][\"risk_score\"] }}",
                "rightValue": 8,
                "operator": { "type": "number", "operation": "gte" }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "bb220000-0001-4000-8000-000000000004",
        "name": "Risco >= 8 ?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [720, 300]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              { "id": "a1", "name": "alerta", "value": "CRISE - ACAO IMEDIATA", "type": "string" },
              { "id": "a2", "name": "extrato_id", "value": "={{ $json[\"extrato\"][\"id\"] }}", "type": "string" },
              { "id": "a3", "name": "risco", "value": "={{ $json[\"processamento\"][\"risk_nivel\"] }}", "type": "string" },
              { "id": "a4", "name": "assunto", "value": "={{ $json[\"extrato\"][\"assunto_sintetizado\"] }}", "type": "string" }
            ]
          },
          "options": {}
        },
        "id": "bb220000-0001-4000-8000-000000000005",
        "name": "ALERTA CRITICO (ligar ao canal)",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [960, 200]
      }
    ],
    "connections": {
      "Webhook Extrato": {
        "main": [[{ "node": "Login Bastos", "type": "main", "index": 0 }]]
      },
      "Login Bastos": {
        "main": [[{ "node": "POST /extrato/submeter", "type": "main", "index": 0 }]]
      },
      "POST /extrato/submeter": {
        "main": [[{ "node": "Risco >= 8 ?", "type": "main", "index": 0 }]]
      },
      "Risco >= 8 ?": {
        "main": [
          [{ "node": "ALERTA CRITICO (ligar ao canal)", "type": "main", "index": 0 }],
          []
        ]
      }
    },
    "settings": { "executionOrder": "v1" },
    "pinData": {}
  }
]
