n8n_workflows/bdi_bastos.json
{
  "name": "BDI - Boletim Diario Agent Bastos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bdi-bastos",
        "responseMode": "onReceived",
        "responseData": "={\"ok\": true, \"recebido\": true}",
        "options": {}
      },
      "id": "node-webhook-bdi",
      "name": "Webhook BDI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "bdi-bastos"
    },
    {
      "parameters": {
        "jsCode": "// Extrai payload do body (n8n pode encapsular em .body)\nconst raw = $input.first().json;\nconst body = raw.body ?? raw;\n\nconst numeros    = body.numeros_destino ?? [];\nconst resumo     = body.resumo     ?? 'Boletim Diario de Inteligencia - Agent Bastos';\nconst pdfB64     = body.pdf_base64 ?? '';\nconst pdfNome    = body.pdf_filename ?? 'BDI.pdf';\nconst geradoEm   = body.gerado_em  ?? new Date().toISOString();\n\nif (numeros.length === 0) {\n  throw new Error('[BDI] Nenhum numero de destino recebido no payload.');\n}\n\nif (!pdfB64) {\n  throw new Error('[BDI] pdf_base64 ausente no payload.');\n}\n\n// Cria um item por destinatario — o loop do n8n cuida do paralelismo\nreturn numeros.map(numero => ({\n  json: { numero, resumo, pdfB64, pdfNome, geradoEm }\n}));"
      },
      "id": "node-preparar",
      "name": "Preparar Destinatarios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendText/bastos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "pBQSF1d1HVEOcIWWGOm8xlxho1A" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "number", "value": "={{ $json.numero }}" },
            { "name": "text",   "value": "={{ $json.resumo }}" }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "node-send-text",
      "name": "Enviar Texto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Monta body do sendMedia — necessario porque pdfB64 e grande e\n// a interpolacao direta no campo jsonBody do HTTP node pode truncar.\nconst item = $input.first().json;\n\nreturn [{\n  json: {\n    numero:   item.numero,\n    pdfNome:  item.pdfNome,\n    mediaBody: JSON.stringify({\n      number:    item.numero,\n      mediatype: 'document',\n      mimetype:  'application/pdf',\n      caption:   'BDI Agent Bastos - ' + item.geradoEm.slice(0, 10),\n      media:     item.pdfB64,\n      fileName:  item.pdfNome\n    })\n  }\n}];"
      },
      "id": "node-prep-media",
      "name": "Preparar Body PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/message/sendMedia/bastos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",       "value": "pBQSF1d1HVEOcIWWGOm8xlxho1A" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.mediaBody }}",
        "options": {
          "timeout": 30000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "node-send-media",
      "name": "Enviar PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook BDI": {
      "main": [[{ "node": "Preparar Destinatarios", "type": "main", "index": 0 }]]
    },
    "Preparar Destinatarios": {
      "main": [[{ "node": "Enviar Texto", "type": "main", "index": 0 }]]
    },
    "Enviar Texto": {
      "main": [[{ "node": "Preparar Body PDF", "type": "main", "index": 0 }]]
    },
    "Preparar Body PDF": {
      "main": [[{ "node": "Enviar PDF", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
